.body{
    background-color: whitesmoke;
}
.img{
    width: 100px;

}
.navbtn{
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  
}
.signup{
    border-radius:  25px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px; 
    height: 30px;
    margin-top: 40px;
    margin-left: 10px;
}
.login{
    border-radius: 25px;
    width: 80px;
    height: 30px; 
    margin-right: 10px;  
    
    
}
.solid{
    border-top: 3px solid #bbb;
}


.solid{
    border-top: 3px solid #bbb;

}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}

.itemsbtn{
    position: right;
  top: 8px;
  padding-right: 30px;
  font-size: 18px;
  margin-left: 150px;
  border-radius: 25px;
  margin-top: 5px;

  
}
.items{
    border-radius: 25px;
    width: 80px; 
    height: 30px;
    margin-left: 1180px;
    margin-top: 5px;
    
}
.icons8-shopping-cart-50{
    width : 25px;
    height: 25px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
    
}
.navbtns{
    font-size: 15px;
    margin-right: 5px;
    text-align: left;
    margin-top: 0px;
}